@import './layout';

.container {
  @include flex-row(space-between, center);
  position: fixed;
  top: 0;
  left: 0;
  height: 85px;
  width: 100%;
  padding: 0 40px;
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0.8)
  );
  z-index: 100;

  &.dark {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(39, 39, 39, 0.8));
  }
}

.logo {
  &.dark {
    color: white;
  }
}

.menus {
  @include flex-row(flex-start, center);
  gap: 65px;

  height: 100%;

  span {
    cursor: pointer;
    font-weight: 600;
    padding: 10px;
    font-size: 16px;

    &.selected {
      border-bottom: 3px solid black;

      &.dark {
        border-bottom: 3px solid white;
      }
    }

    &.dark {
      color: white;
    }
  }
}

.btn-container {
  border: none;
  position: relative;
  width: 64px;
  height: 26px;
  border-radius: 30px;
  cursor: pointer;
  background-color: gray;

  &.light {
  }

  &.dark {
  }

  .btn {
    position: absolute;
    display: block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    top: 4px;
    transition: all 0.3s;

    &.hidden {
      opacity: 0;
    }

    &.light {
      background-color: white;
      left: 4px;
    }

    &.dark {
      background-color: rgb(55, 55, 76);
      left: calc(100% - 22.5px);
    }
  }
}
