.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.profile__img {
  width: 200px;
  margin-right: 150px;
  border-radius: 50%;
}

.profile__details {
  width: 100%;
  font-weight: 600;
}

.profile__details > span {
  font-size: 25px;
  color: #2c2c2c;
}

.profile__detail {
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.profile__detail__title {
  margin-right: 100px;
  color: #2c2c2c;
}

.profile__detail__content {
  font-weight: 400;
}

.explain {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.explain > h2 {
  color: #383838;
  margin-bottom: 15px;
  text-align: center;
}
.explain > p {
  line-height: 27px;
  font-size: 17px;
}

@media (min-width: 1190px) {
  .explain p {
    width: 50vw;
  }
}

@media screen and (max-width: 820px) {
  .container {
    margin-top: 4rem;
  }

  .profile {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .profile__img {
    margin: 0;
    width: 10rem;
    margin-bottom: 30px;
  }

  .profile__details {
    width: 100%;
  }

  .profile__details span {
    font-size: 1.7rem;
  }
  .profile__detail {
    margin-top: 10px;
  }

  .profile__detail__title {
    margin-right: 2rem;
  }

  .explain h2 {
    font-size: 1.5rem;
  }

  .explain > p {
    font-size: 1rem;
  }
}
