button {
  border: none;
  cursor: pointer;
  background-color: white;
}

.btns {
  display: flex;
  width: 25vw;
  justify-content: space-between;
  font-family: 'Noto Sans KR', sans-serif;
}

.active {
  border: 2px solid #c2e9ff;
  border-radius: 50%;
  padding: 10px 20px;
}
