.container {
  width: 100vw;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans KR', sans-serif;
}

h2 {
  font-size: 30px;
  display: inline-block;
  margin-bottom: 0px;
}

li {
  margin-bottom: 5px;
}

ul {
  margin-left: 80px;
}

.left {
  margin-right: 15vw;
}

.right {
}

.right > h2 {
  margin-block-start: 0;
}

.skills {
  border: 4px solid transparent;
  padding: 10px 20px;
  border-radius: 50%;
}

.skills:hover {
  border: 4px solid;
  border-color: #ffa0a0;
  padding: 10px 20px;
}

.certification {
  border: 4px solid transparent;
  border-radius: 50%;
  padding: 10px 25px;
  margin-left: -5px;
}

.certification:hover {
  border: 4px solid;
  border-color: #c2ffa5;
  border-radius: 50%;
  padding: 10px 25px;
}

.tools {
  border: 4px solid transparent;
  border-radius: 50%;
  padding: 10px 25px;
  margin-left: -5px;
}

.tools:hover {
  border: 4px solid;
  border-color: #c2e9ff;
  border-radius: 50%;
  padding: 10px 25px;
}
